<h1>通知</h1>
                        <div class="sideinfo">
                      
                        <p>日期：2016-2-13</p>
                       
                    </div>
                    <div class="clear"></div>
                    <ul class="news">
                        <li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>
<ul class="newsimages">
    <li class="col-sm-6"><%= image_tag "newsimage.jpg" %></li>
   
</ul>

</li>


<li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>



</li>

<li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>



</li>

<li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>


</li>


</ul>

                    </div>
                   
                </div>