 <p>
  <strong>证道名称:</strong>
  <%= @sermon_reflection.sermon.title %>
</p>

<p>
  <strong>感想内容:</strong>
  <%= @sermon_reflection.content %>
</p>

<%= link_to '编辑', edit_sermon_reflection_path(@sermon_reflection, :sermon_id => @sermon_reflection.sermon.id) %> |
<%= link_to '后退', my_sermon_reflections_path %>
