<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @sermon_reflection.content %>
</p>

<%= link_to 'Edit', edit_sermon_reflection_path(@sermon_reflection) %> |
<%= link_to 'Back', sermon_reflections_path %>
