
<div class="text-center ">
<h3>感谢您注册三藩中文教会网上平台！</h3>
</div>

<div class="text-center">
<h3> 工作人员将会在一周内审核您的资料并回复您。</h3>
</div>

<div class="text-center">
<h3> 如果您有任何问题请联系 gratiapresbyteriancn@gmail.com </h3>
</div>

<div class="text-center">
 <%= 
 link_to '修改我的资料', edit_profile_path(current_user.profile) 
 %>

 | <%= link_to '退出', destroy_user_session_path, method: :delete %>
</div>









