
<div class="text-center ">
<h3>Thank you for register for Gratia Church online system! </h3>
</div>

<div class="text-center">
<h3> We'll review your profile and send email to you in one week.</h3>
</div>

<div class="text-center">
<h3> If you have any questions,please contact gratiachurch@gmail.com</h3>
</div>

<div class="text-center">
 <%= 
 link_to 'Edit My File', edit_profile_path(current_user.profile) 
 %>

 | <%= link_to 'Signin with another Account', destroy_user_session_path, method: :delete %>
</div>









