<nav class="navbar navbar-light " style="background-color: #e3f2fd;">
  <ul class="nav navbar-nav">
    <li class="nav-item active">
      <%= link_to "礼拜回顾", service_review_path,  class: "nav-link"%>
<!-- 
      <a class="nav-link" href="#">礼拜回顾 <span class="sr-only">(current)</span></a> -->
    </li>
    <li class="nav-item">
      <%= link_to "恩典见证", testimony_path,  class: "nav-link"%>
    </li>
    <li class="nav-item">
      <%= link_to "好消息", good_news_path,  class: "nav-link"%>
    </li>
  </ul>
</nav>

<div class="row">
                   
                    <div class="col-lg-9 maincontent">
                        
                        
                        <h1>好消息</h1>
                        <div class="sideinfo">
                      
                        <p>日期：2016-2-13</p>
                       
                    </div>
                    <div class="clear"></div>
                    <ul class="news">
                        <li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>
<ul class="newsimages">
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
</ul>

</li>


<li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>
<ul class="newsimages">
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
</ul>


</li>

<li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>
<ul class="newsimages">
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
</ul>


</li>

<li>
                        <p>1月11号，以琳三藩新增两名实习生唐秀月和程愉乔。秀月姐妹负责以琳教育和图书馆建设。愉
乔姐妹负责以琳音乐出版和网站建设。她们开始积极的投入以琳工作，整理以琳内部道和建设以琳网
站。这对于以琳2016年完成培养1000名staff的工作尤为重要，希望神祝福她们手中的工作。
</p>
<ul class="newsimages">
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
    <li class="col-sm-6"><img src="images/newsimage.jpg"></li>
</ul>


</li>


</ul>

                    </div>
                    <div class="col-lg-3">
                        <div class="sidecategory">
                        <div class="sidecategorytitle">
                            <p>往期回顾 </p>
                        </div>
                        <ul >
                            <li><div class="sermontitle">
                               <a href="#">02.28.2016 好消息</a>
                            </div>
                           
                        </li>
                        <li><div class="sermontitle">
                               <a href="#">02.28.2016 好消息</a>
                                 </div>
                        </li>

<li><div class="sermontitle">
                              <a href="#">02.28.2016 好消息</a>
                            </div>
                          
                        </li>

                        </ul>
                        </div>
                    </div>