
<div class="row">
                   
                    <div class="col-lg-9 maincontent">
                        
                        
                        <h1>默想见证</h1>
                        <div class="sideinfo">
                      
                        <p>日期：2016-2-13</p>
                       
                    </div>
                    <div class="clear"></div>
                    <ul class="news">
                    <% @latest_testimonys.each do |latest_testimony|%>
                    <li>
                        <p><%= latest_testimony.content %>
                    </p>
                  </li>
                    <%end%>
                  </ul>
                    </div>
                    
                    <div class="col-lg-3">
                        <div class="sidecategory">
                        <div class="sidecategorytitle">
                            <p>往期回顾 </p>
                        </div>
                        <ul>
                            <li><div class="sermontitle">
                               <%= link_to "近期恩典见证", recent_testimony_path %>
                            </div>
                           
                        </li>
                       

                        </ul>
                        </div>
                    </div>
                </div>