<p>
  <strong>证道名称:</strong>
  <%= @event_sermon_reflection.event_sermon.title %>
</p>


<p>
  <strong>感想内容:</strong>
  <%= @event_sermon_reflection.content %>
</p>


<%= link_to '编辑', edit_event_sermon_reflection_path(@event_sermon_reflection, :event_sermon_id => @event_sermon_reflection.event_sermon.id) %> |
<%= link_to '后退', my_event_sermon_reflections_path %>
