
<p>
  <strong>题目:</strong>
  <%= @event_notice.title %>
</p>

<p>
  <strong>内容:</strong>
  <%= @event_notice.content %>
</p>

<p>
  <strong>发布者:</strong>
  <%= @event_notice.publisher %>
</p>

<%= link_to '后退', event_detail_path(:event_id => @event_notice.event.id) %>
