*{ padding: 0px; margin:0px;}
html, body{
   padding: 0;
   margin: 0;
}
body{ background: #eee;}
ul,li{list-style: none;}
.clear{clear:both; visiblity:hidden; display:block; line-height:0; height:0;}
.sermon{ background: url(../images/bg_03.gif) no-repeat bottom right; height:100%;}
.menubtn i{ font-size: 14px;}
.header{ border-bottom:solid 1px #ccc; width: 100%; position: fixed; background: #eee; z-index: 300; padding: 0px; padding-top:13px; padding-left: 20px; padding-bottom: 10px; box-shadow: 0px 4px 4px #eee;}
#menu-toggle{ float: left;}
#sidebar-wrapper{ box-shadow: inset -4px 0px 5px #088e80;}
#page-content-wrapper{ background: #eee;}
.logo{ position: fixed; line-height: 30px; margin-left: 10px; right: 20px;}
.logo b{ font-family: Times;margin-right: 5px; color: #0ca292;}
.logo p{ line-height: 18px;margin-left: 5px; float: left;}
.logo img{ margin-top: -2px; float: left;}
.container-fluid{ padding-top: 40px; }
.sidebar-nav i{ float: left; line-height: 40px; width: 24px;}
.sidebar-nav > .sidebar-brand{ height: 100px; width: 100%; overflow: hidden;}
.sidebar-nav > .sidebar-brand .name{ float: left; color: #fff; margin-top: 23px;}
.portrait{ width: 73px; height: 73px; border-radius: 50%; overflow: hidden; margin-left: 10px; text-indent: 0px; margin-top: 15px; margin-left: 15px; border: solid 5px #16b09f;float: left; }
.portrait img{ width: 64px; width: 64px; }
.sidecategory{ background: #fff;  overflow: hidden; margin-top: 20px; min-height: 500px; margin: 10px; margin-top: 20px; }
.sidecategorytitle{ background: #0ca292; padding: 10px 10px 2px 10px;}
.sidecategory ul li{ margin: 10px; border-top:dashed 1px #ccc; padding-top: 10px;}
.sidecategorytitle p{ color: #fff; font-size: 16px;}
.sidecategory ul li:first-child{ border-top:none;}
.sidecategory ul li span{ color: #666; font-style: italic; font-size: 12px;}
.maincontent{ overflow:hidden;}
.maincontent h1{ font-size: 24px;}
.maincontent p{ line-height: 20px;}
.maincontent .sideinfo{ }
.maincontent .sideinfo p{ float: left; margin-right: 28px; color: #666; font-style: italic;}
.reply{ background: #ddd; padding: 20px; border:solid 3px #ccc; margin-top: 20px; float: left; }
ul.newsimages li img{ width: 100%; margin-top: 10px;}
ul.news{ float: left;}
ul.news>li{ margin-bottom: 50px; border-top:dashed 1px #ccc; margin-top: 30px;padding-top:30px; overflow: hidden;}

ul.news>li:first-child{ border-top:none; margin-top: 0px;}
@media(max-width:768px){
	.header{padding-bottom: 0px;}
	.logo{  position: relative; float: right; }
	.sidecategory{margin: 0px; margin-top: 30px;min-height: 0px; margin-bottom:30px;}

}
@media(max-width:400px){
	.header{padding-bottom: 0px;}
.logo p b{ }
.logo img{ display: none;}

}